@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Coffee Shop</h1>
    <p class="lead">A place for coffee and coffee related things.</p>
    <p>
        <a href="/Home/Register" class="btn btn-primary btn-lg">Coffee Shop Registration &raquo;</a>
    </p><br />
        <form action="/Home/SearchForItemName" method="get">
            <label for="ItemNameInput">
                <b>Search for a product?</b>
            </label>
            <input type="text" name="itemName" id="ItemNameForm" />
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Try Starbucks!</h2>
        <p>
            The Starbucks Mission Statement is:
            "Our mission: to inspire and nurture the human spirit
            – one person, one cup and one neighborhood at a time."
        </p>
        <p><a class="btn btn-default" href="https://www.starbucks.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Dunkin Donuts?!</h2>
        <p>"Make and serve the freshest, most delicious coffee and donuts quickly and courteously in modern, well-merchandised stores.”</p>
        <p><a class="btn btn-default" href="https://www.dunkindonuts.com/en">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Smug Tim Hortons...</h2>
        <p> This is reflected in their vision statement,
        which sets the company's overall goal as: to be the quality leader in everything they do.</p>
        <p><a class="btn btn-default" href="http://www.timhortons.com/us/en/index.php">Learn more &raquo;</a></p>
    </div>
</div>